body {
    background: black;
    color: white;
    padding: 25px;
    font-family: 'Comic Sans MS', cursive;
  }
  td {
    border: solid;
    border-color: red;
  }
  a {
    color: lightblue;
  }
  a:visited {
    color: #CBC3E3;
  }

.argument_terminology {
    background-color: white;
    display: inline-block;
}
